.btn {
    height: 50px;
    width: 150px;
}

.addBtn {
    height: 50px;
    width: 150px;
    background-color: orange;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addBtn:hover {
    cursor: pointer;
    filter: brightness(110%);
}
