.main {
    max-width: 1640px;
    width: -webkit-fill-available;
    padding: 30px 20px 0;
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.align_items__center {
    display: flex;
    align-items: center;
}

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    width: -webkit-fill-available;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.manu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .manu {
        flex-direction: column;
        align-items: center;
    }

    .category {
        max-width: none;
        padding-bottom: 20px;
    }

    .note_list {
        justify-content: center;
    }
}

.note_list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
}

.detail_wrapper {
    padding: 20px 20px;
    border: 1px solid rgba(0,0,0,0.10);
    border-radius: 10px;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.20);
    width: -webkit-fill-available;
    max-width: 1600px;
    outline: none;
    text-decoration: none;
    margin: 5% 5%;
    box-sizing: border-box;
}