.container {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #a0a0a0;
}

.header {
    max-width: 1600px;
    width: -webkit-fill-available;
    padding: 0 20px;
    box-sizing: unset;
    display: flex;
    justify-content: space-between;
}

.title {
    flex: 1;
}

.info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons_container {
    display: flex;
    max-width: 250px;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

@media (max-width: 600px) {
    .title {
        flex: 1;
        font-size: 26px;
    }

    .info {
        flex: 1;
    }

    .buttons_container {
        flex-direction: column;
        align-items: flex-end;
        text-align: end;
    }
}