.container {
    position: relative;
    z-index: 0;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 200ms ease-out;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
}

.dialog {
    background: white;
    border-radius: 5px;
    padding: 20px;
    width: max-content;
    min-width: 200px;
    min-height: 100px;
    max-height: 90%;
    z-index: 1;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}